
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Order{% endblock title %}

{% block content %}
<section>
    <div class="container mx-auto inner-order">
        <div class="order mx-auto">
            <form method="post">
                {% csrf_token %}
                <!-- {{ form|crispy }} -->
                {% for fm in form %}
                {{fm.label_tag}}
                {{fm}}
                <p class="text-danger p-2">{{fm.errors|striptags}}</p>
                {% endfor %}
                <button class='btn btn-primary'>Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}